@using WebApplication.Model;
@model  List<WebApplication.Model.Product>
@{
    ViewBag.Title = "Home Page";
    bool modelNotEmpty = Model != null && Model.Any();
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Manufacturer</th>
            <th>Supplier</th>
            <th>Price(EUR)</th>
            <th><button class="btn btn-primary">Create</button></th>
        </tr>
    </thead>
    <tbody>
        @if (modelNotEmpty)
        {
            foreach (Product product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.Category</td>
                    <td>@product.Manufacturer</td>
                    <td>@product.Supplier</td>
                    <td>@product.Price</td>
                    <td><button type="button" class="btn btn-danger" data-id="@product.ProductID">Delete</button></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    We don't have any products yet !
                </td>
               
            </tr>

        }
    </tbody>
    
</table>
