@using WebApplication.Models;
@model  List<WebApplication.Models.ProductModel>
@{

    ViewBag.Title = "Home Page";
    bool modelNotEmpty = Model != null && Model.Any();
    //string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

}

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Manufacturer</th>
            <th>Supplier</th>
            <th>Price(EUR)</th>
            <th></th>
            <th><a href="@Url.Action("ProductForm")" class="btn btn-primary">Create</a></th>
        </tr>
    </thead>
    <tbody>
        @if (modelNotEmpty)
        {
            foreach (ProductModel product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.Category</td>
                    <td>@product.Manufacturer</td>
                    <td>@product.Supplier</td>
                    <td>@product.Price</td>
                    <td><a href="@Url.Action("Delete",new { productId = product.ProductID})" class="btn btn-danger" data-id="@product.ProductID" >Delete</a></td>
                    <td><a href="@Url.Action("ProductForm",new { productId = product.ProductID})" class="btn btn-warning" data-id="@product.ProductID" >Edit</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">
                    We don't have any products yet !
                </td>
               
            </tr>

        }
    </tbody>
    
</table>
