
@{
    ViewBag.Title = "ProductForm";
}

<h2>ProductForm</h2>

@model WebApplication.Models.ProductModel
@{
    string Controller = this.ViewContext.RouteData.Values["controller"].ToString();
    Layout = "_Layout.cshtml";
}
@using (Html.BeginForm("Save", Controller))
{
    @Html.HiddenFor(m=>m.ProductID)
    <label>Please enter Name</label>
    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
    <br />
    <label>Please enter ProductDescription</label>
    @Html.TextBoxFor(m => m.ProductDescription, new { @class = "form-control" })
    <br />
    <label>Please enter Manufacturer</label>
    @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control" })
    <br />
    <label>Please enter Supplier</label>
    @Html.TextBoxFor(m => m.Supplier, new { @class = "form-control" })
    <br />
    <label>Please enter Price</label>
    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
    <br />
    <label>Please enter Category</label>
    @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
    <br />

    <input type="submit" class="btn btn-success" value="Save" />

}